ch03/01_篩選人臉.json
{
    "name": "instagram_face_line_notify",
    "flow": [
        {
            "id": 1,
            "module": "instagram-business:WatchMedia",
            "version": 1,
            "parameters": {
                "limit": 10,
                "accountId": "17841471596387704",
                "__IMTCONN__": 1079923
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "accountId": {
                            "label": "AI 流程自動化工作坊 (@code.weiwei)"
                        },
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "facebook"
                            },
                            "label": "My Facebook connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:facebook",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "accountId",
                        "type": "select",
                        "label": "Page",
                        "required": true
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "openai-gpt-3:analyzeImages",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 192349
            },
            "filter": {
                "name": "阻擋短片",
                "conditions": [
                    [
                        {
                            "a": "{{1.media_type}}",
                            "b": "VIDEO",
                            "o": "text:notequal"
                        }
                    ]
                ]
            },
            "mapper": {
                "prompt": "請依照照片中是否有真實人臉,回覆以下兩種答覆其\n中一種,除此之外,不要加上任何額外的說明文字:\n有人臉\n沒有人臉",
                "images": [
                    {
                        "imageUploadType": "url",
                        "imageUrl": "{{1.media_url}}"
                    }
                ],
                "model": "gpt-4o-mini",
                "max_tokens": "2048",
                "temperature": "1",
                "top_p": "1",
                "n_completions": "1"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My OpenAI connection",
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            }
                        }
                    },
                    "expect": {
                        "images": {
                            "mode": "chose",
                            "items": [
                                {
                                    "imageUploadType": {
                                        "mode": "chose",
                                        "label": "Image URL"
                                    }
                                }
                            ]
                        },
                        "model": {
                            "mode": "chose",
                            "label": "gpt-4o-mini"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "prompt",
                        "type": "text",
                        "label": "Prompt",
                        "required": true
                    },
                    {
                        "name": "images",
                        "type": "array",
                        "label": "Images",
                        "required": true,
                        "spec": {
                            "spec": [
                                {
                                    "name": "imageUploadType",
                                    "type": "select",
                                    "label": "How would you like to specify an image?",
                                    "options": [
                                        {
                                            "label": "Image URL",
                                            "value": "url",
                                            "nested": [
                                                {
                                                    "help": "Public URL of the image. For example, `https://getmyimage.com/myimage.png`.",
                                                    "mode": "edit",
                                                    "name": "imageUrl",
                                                    "type": "url",
                                                    "label": "Image URL",
                                                    "mappable": {
                                                        "help": "Public URL of the image. For example, `https://getmyimage.com/myimage.png`."
                                                    },
                                                    "required": true
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Image File",
                                            "value": "imageFile",
                                            "nested": [
                                                {
                                                    "help": "Binary data of the image. For example, you can retrieve the binary data of your image using the __HTTP: Get a file__ module.",
                                                    "name": "imageFileData",
                                                    "type": "buffer",
                                                    "label": "Image File",
                                                    "required": true,
                                                    "semantic": "file:data"
                                                }
                                            ]
                                        }
                                    ],
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Image",
                            "name": "value"
                        }
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Completion Tokens"
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "prompt",
                        "type": "text",
                        "label": "Prompt",
                        "required": true
                    },
                    {
                        "name": "images",
                        "type": "array",
                        "label": "Images",
                        "required": true,
                        "spec": {
                            "spec": [
                                {
                                    "name": "imageUploadType",
                                    "type": "select",
                                    "label": "How would you like to specify an image?",
                                    "options": [
                                        {
                                            "label": "Image URL",
                                            "value": "url",
                                            "nested": [
                                                {
                                                    "help": "Public URL of the image. For example, `https://getmyimage.com/myimage.png`.",
                                                    "mode": "edit",
                                                    "name": "imageUrl",
                                                    "type": "url",
                                                    "label": "Image URL",
                                                    "mappable": {
                                                        "help": "Public URL of the image. For example, `https://getmyimage.com/myimage.png`."
                                                    },
                                                    "required": true
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Image File",
                                            "value": "imageFile",
                                            "nested": [
                                                {
                                                    "help": "Binary data of the image. For example, you can retrieve the binary data of your image using the __HTTP: Get a file__ module.",
                                                    "name": "imageFileData",
                                                    "type": "buffer",
                                                    "label": "Image File",
                                                    "required": true,
                                                    "semantic": "file:data"
                                                }
                                            ]
                                        }
                                    ],
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Image",
                            "name": "value"
                        }
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Completion Tokens"
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "line:sendANotification",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1093444
            },
            "filter": {
                "name": "警告照片有人臉",
                "conditions": [
                    [
                        {
                            "a": "{{4.result}}",
                            "o": "text:equal",
                            "b": "有人臉"
                        }
                    ]
                ]
            },
            "mapper": {
                "message": "[{{4.result}}]{{1.caption}}\n{{1.permalink}}",
                "select": "url",
                "addSticker": true,
                "notificationDisabled": false,
                "imageFullsize": "{{1.media_url}}",
                "imageThumbnail": "{{1.media_url}}",
                "stickerPackageId": "11539",
                "stickerId": "52114146"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My LINE (Notify API) connection",
                            "data": {
                                "scoped": "true",
                                "connection": "line"
                            }
                        }
                    },
                    "expect": {
                        "select": {
                            "label": "By URL"
                        },
                        "addSticker": {
                            "mode": "chose"
                        },
                        "notificationDisabled": {
                            "mode": "chose"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:line",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "message",
                        "type": "text",
                        "label": "Message",
                        "validate": {
                            "max": 1000
                        },
                        "required": true
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Upload an Image",
                        "validate": {
                            "enum": [
                                "url",
                                "file"
                            ]
                        }
                    },
                    {
                        "name": "addSticker",
                        "type": "boolean",
                        "label": "Add a Sticker",
                        "required": true
                    },
                    {
                        "name": "notificationDisabled",
                        "type": "boolean",
                        "label": "Disable a Push Notification",
                        "required": true
                    },
                    {
                        "name": "imageFullsize",
                        "type": "url",
                        "label": "Image Full Size URL",
                        "required": true
                    },
                    {
                        "name": "imageThumbnail",
                        "type": "url",
                        "label": "Image Thumbnail URL",
                        "required": true
                    },
                    {
                        "name": "stickerPackageId",
                        "type": "uinteger",
                        "label": "Sticker Package ID",
                        "required": true
                    },
                    {
                        "name": "stickerId",
                        "type": "uinteger",
                        "label": "Sticker ID",
                        "required": true
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com"
    }
}