ch06/讓 agent 判斷流程.json
{
    "name": "讓 agent 判斷流程",
    "flow": [
        {
            "id": 1,
            "module": "line:watchMessages",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": 24621
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 450
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "data": {
                                "editable": "false"
                            },
                            "label": "讓 AI 判斷流程"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:line",
                        "label": "Webhook",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 13,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "mapper": {
                "scope": "roundtrip",
                "variables": [
                    {
                        "name": "已經完成",
                        "value": "{{false}}"
                    },
                    {
                        "name": "目前成果",
                        "value": "{{emptystring}}"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 450
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        },
                        "variables": {
                            "items": [
                                null,
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Variable name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Variable value"
                            }
                        ],
                        "type": "array",
                        "label": "Variables"
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "已經完成",
                        "type": "any",
                        "label": "已經完成"
                    },
                    {
                        "name": "目前成果",
                        "type": "any",
                        "label": "目前成果"
                    }
                ]
            }
        },
        {
            "id": 14,
            "module": "builtin:BasicRepeater",
            "version": 1,
            "parameters": {},
            "mapper": {
                "step": "1",
                "start": "1",
                "repeats": "3"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 450
                },
                "restore": {},
                "expect": [
                    {
                        "name": "start",
                        "type": "number",
                        "label": "Initial value",
                        "required": true
                    },
                    {
                        "name": "repeats",
                        "type": "number",
                        "label": "Repeats",
                        "required": true,
                        "validate": {
                            "max": 10000,
                            "min": 0
                        }
                    },
                    {
                        "name": "step",
                        "type": "number",
                        "label": "Step",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 15,
            "module": "util:GetVariables",
            "version": 1,
            "parameters": {},
            "mapper": {
                "variables": [
                    "已經完成",
                    "目前成果"
                ]
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 450
                },
                "restore": {
                    "expect": {
                        "variables": {
                            "items": [
                                null,
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Variable name",
                            "required": true
                        },
                        "type": "array",
                        "label": "Variables"
                    }
                ],
                "interface": [
                    {
                        "name": "已經完成",
                        "type": "any",
                        "label": "已經完成"
                    },
                    {
                        "name": "目前成果",
                        "type": "any",
                        "label": "目前成果"
                    }
                ]
            }
        },
        {
            "id": 16,
            "module": "util:Switcher",
            "version": 1,
            "parameters": {},
            "filter": {
                "name": "還沒完成",
                "conditions": [
                    [
                        {
                            "a": "{{15.`已經完成`}}",
                            "b": "{{false}}",
                            "o": "boolean:equal"
                        }
                    ]
                ]
            },
            "mapper": {
                "input": "{{14.i}}",
                "casesTable": [
                    {
                        "output": "{{emptystring}}",
                        "pattern": "1"
                    }
                ],
                "elseOutput": "這是目前已完成的工作：\n{{15.`目前成果`}}\n\n請參考上述成果再回覆以下問題：",
                "useRegExpMatch": false
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 450
                },
                "restore": {
                    "expect": {
                        "casesTable": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "name": "input",
                        "type": "text",
                        "label": "Input"
                    },
                    {
                        "name": "useRegExpMatch",
                        "type": "boolean",
                        "label": "Use regular expressions to match",
                        "required": true
                    },
                    {
                        "name": "casesTable",
                        "spec": [
                            {
                                "name": "pattern",
                                "type": "text",
                                "label": "Pattern"
                            },
                            {
                                "name": "output",
                                "type": "any",
                                "label": "Output"
                            }
                        ],
                        "type": "array",
                        "label": "Cases",
                        "required": true
                    },
                    {
                        "name": "elseOutput",
                        "type": "any",
                        "label": "Else"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "openai-gpt-3:CreateCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 25783
            },
            "mapper": {
                "model": "gpt-4o",
                "top_p": "1",
                "select": "chat",
                "messages": [
                    {
                        "role": "system",
                        "content": "你是使用台灣繁體中文的小助理, 可以根據問題判斷是否需要使用以下我所提供給你的工具：\n\n工具名稱：讀取網頁\n工具說明：可以依據提供的網址讀取網頁內容, 並且將內容轉成純文字提供給你\n工具參數：要讀取網頁的網址\n\n工具名稱：下載檔案\n工具說明：可以依據提供的網址下載檔案\n工具參數：要下載檔案的網址\n\n工具名稱：上傳雲端\n工具說明：可以依據放置在變數中的檔案名稱與檔案內容將檔案上傳到 OneDrive 雲端空間中\n工具參數：無\n\n\n如果需要使用上述工具, 請使用以下 JSON 格式回覆：\n\n{\n    \"工具名稱\": \"要使用的工具名稱\",\n    \"工具參數\": \"工具需要的參數\"\n}\n\n如果不需要使用工具, 就直接生成回覆, 並以如下格式回覆：\n\n{\n    \"工具名稱\": \"\",\n    \"工具參數\": \"\",\n    \"回覆\": \"針對問題回覆的內容\"\n}\n\n只要提供 JSON 內容, 不要加上任何其它說明。"
                    },
                    {
                        "role": "user",
                        "content": "{{16.output}}\n\n{{1.events[].message.text}}"
                    }
                ],
                "max_tokens": "0",
                "temperature": "1",
                "n_completions": "1",
                "response_format": "json_object",
                "parseJSONResponse": false
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 450
                },
                "restore": {
                    "expect": {
                        "stop": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "gpt-4o (system)"
                        },
                        "select": {
                            "label": "Create a Chat Completion (GPT Models)"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "System"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    }
                                }
                            ]
                        },
                        "logit_bias": {
                            "mode": "chose"
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "JSON Object"
                        },
                        "parseJSONResponse": {
                            "mode": "chose"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "My OpenAI connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "chat",
                                "prompt"
                            ]
                        }
                    },
                    {
                        "name": "max_tokens",
                        "type": "number",
                        "label": "Max Tokens",
                        "required": true
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "logit_bias",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "token",
                                    "type": "text",
                                    "label": "Token ID",
                                    "required": true
                                },
                                {
                                    "name": "probability",
                                    "type": "number",
                                    "label": "Probability",
                                    "required": true,
                                    "validate": {
                                        "max": 100,
                                        "min": -100
                                    }
                                }
                            ],
                            "type": "collection",
                            "label": "Token Probability"
                        },
                        "type": "array",
                        "label": "Token Probability"
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    },
                    {
                        "name": "seed",
                        "type": "integer",
                        "label": "Seed"
                    },
                    {
                        "name": "stop",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Stop Sequence"
                        },
                        "type": "array",
                        "label": "Stop Sequences",
                        "validate": {
                            "maxItems": 4
                        }
                    },
                    {
                        "name": "additionalParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter"
                        },
                        "type": "array",
                        "label": "Other Input Parameters"
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "messages",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "options": [
                                        {
                                            "label": "System",
                                            "value": "system"
                                        },
                                        {
                                            "label": "User",
                                            "value": "user"
                                        },
                                        {
                                            "label": "Assistant",
                                            "value": "assistant"
                                        }
                                    ],
                                    "required": true
                                },
                                {
                                    "name": "content",
                                    "type": "text",
                                    "label": "Message Content"
                                }
                            ],
                            "type": "collection",
                            "label": "Message"
                        },
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "parseJSONResponse",
                        "type": "boolean",
                        "label": "Parse JSON Response",
                        "required": true
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 4,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {
                "type": 2060
            },
            "mapper": {
                "json": "{{2.result}}"
            },
            "metadata": {
                "designer": {
                    "x": 1800,
                    "y": 450
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "My data structure"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure"
                    }
                ],
                "expect": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "工具名稱",
                        "type": "text",
                        "label": "工具名稱",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "name": "工具參數",
                        "type": "text",
                        "label": "工具參數",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "name": "回覆",
                        "type": "text",
                        "label": "回覆",
                        "default": null,
                        "required": false,
                        "multiline": false
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 2100,
                    "y": 450
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 3,
                            "module": "line:sendAReplyMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 45235
                            },
                            "filter": {
                                "name": "直接回覆",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{4.`工具名稱`}}",
                                            "b": "{{emptystring}}",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "messages": [
                                    {
                                        "text": "{{4.`回覆`}}",
                                        "type": "text"
                                    }
                                ],
                                "replyToken": "{{1.events[].replyToken}}",
                                "notificationDisabled": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2400,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "messages": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "type": {
                                                        "mode": "chose",
                                                        "label": "Text"
                                                    },
                                                    "emojis": {
                                                        "mode": "chose"
                                                    }
                                                }
                                            ]
                                        },
                                        "notificationDisabled": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "line2"
                                            },
                                            "label": "AI 聊天機器人 (AI 小助手)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:line2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "replyToken",
                                        "type": "text",
                                        "label": "Reply Token",
                                        "required": true
                                    },
                                    {
                                        "name": "messages",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "select",
                                                "label": "Type",
                                                "options": [
                                                    {
                                                        "label": "Text",
                                                        "value": "text",
                                                        "nested": [
                                                            {
                                                                "help": "For LINE emoji, use a `$` character as a placeholder and specify details in the LINE Emojis parameter.",
                                                                "name": "text",
                                                                "type": "text",
                                                                "label": "Text",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 5000
                                                                }
                                                            },
                                                            {
                                                                "help": "The number of emoji items must be equal to the number of `$` on Text parameter.",
                                                                "name": "emojis",
                                                                "spec": [
                                                                    {
                                                                        "help": "Product ID for a set of LINE emoji. See [Sendable LINE emoji list](https://d.line-scdn.net/r/devcenter/sendable_line_emoji_list.pdf).",
                                                                        "name": "productId",
                                                                        "type": "text",
                                                                        "label": "Product ID",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "help": "ID for a LINE emoji inside a set. See [Sendable LINE emoji list](https://d.line-scdn.net/r/devcenter/sendable_line_emoji_list.pdf).",
                                                                        "name": "emojiId",
                                                                        "type": "text",
                                                                        "label": "Emoji ID",
                                                                        "required": true
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "LINE Emojis",
                                                                "validate": {
                                                                    "maxItems": 20
                                                                }
                                                            }
                                                        ],
                                                        "default": true
                                                    },
                                                    {
                                                        "label": "Sticker",
                                                        "value": "sticker",
                                                        "nested": [
                                                            {
                                                                "help": "Package ID for a set of stickers. For information on package IDs, see the [Sticker list](https://developers.line.biz/en/docs/messaging-api/sticker-list).",
                                                                "name": "packageId",
                                                                "type": "text",
                                                                "label": "Package ID",
                                                                "required": true
                                                            },
                                                            {
                                                                "help": "Sticker ID. For a list of sticker IDs for stickers that can be sent with the Messaging API, see the [Sticker list](https://developers.line.biz/en/docs/messaging-api/sticker-list).",
                                                                "name": "stickerId",
                                                                "type": "text",
                                                                "label": "Sticker ID",
                                                                "required": true
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "label": "Image",
                                                        "value": "image",
                                                        "nested": [
                                                            {
                                                                "help": "Max file size is 10 MB.\nSupported image format - JPG, JPEG or PNG",
                                                                "name": "originalContentUrl",
                                                                "type": "url",
                                                                "label": "Original Content URL",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 1000
                                                                }
                                                            },
                                                            {
                                                                "help": "Max file size is 1 MB.\nSupported image format - JPG, JPEG or PNG",
                                                                "name": "previewImageUrl",
                                                                "type": "url",
                                                                "label": "Preview Image URL",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 1000
                                                                }
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "label": "Video",
                                                        "value": "video",
                                                        "nested": [
                                                            {
                                                                "help": "Max file size is 200 MB. A very wide or tall video may be cropped when played in some environments.\nSupported image format - MP4",
                                                                "name": "originalContentUrl",
                                                                "type": "url",
                                                                "label": "Original Content URL",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 1000
                                                                }
                                                            },
                                                            {
                                                                "help": "Max file size is 1MB.\nSupported image format - JPG, JPEG or PNG",
                                                                "name": "previewImageUrl",
                                                                "type": "url",
                                                                "label": "Preview Image URL",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 1000
                                                                }
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "label": "Audio",
                                                        "value": "audio",
                                                        "nested": [
                                                            {
                                                                "help": "Max file size is 200 MB.\nSupported image format - M4A",
                                                                "name": "originalContentUrl",
                                                                "type": "url",
                                                                "label": "Original Content URL",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 1000
                                                                }
                                                            },
                                                            {
                                                                "name": "duration",
                                                                "type": "uinteger",
                                                                "label": "Duration (in seconds)",
                                                                "required": true
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "label": "Location",
                                                        "value": "location",
                                                        "nested": [
                                                            {
                                                                "name": "title",
                                                                "type": "text",
                                                                "label": "Title",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 100
                                                                }
                                                            },
                                                            {
                                                                "name": "address",
                                                                "type": "text",
                                                                "label": "Address",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 100
                                                                }
                                                            },
                                                            {
                                                                "name": "latitude",
                                                                "type": "number",
                                                                "label": "Latitude",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "longitude",
                                                                "type": "number",
                                                                "label": "Longitude",
                                                                "required": true
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "label": "Image Map",
                                                        "value": "imagemap",
                                                        "nested": [
                                                            {
                                                                "help": "Base URL of the image",
                                                                "name": "baseUrl",
                                                                "type": "url",
                                                                "label": "Base URL of the image",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 1000
                                                                }
                                                            },
                                                            {
                                                                "name": "altText",
                                                                "type": "text",
                                                                "label": "Alternative Text",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 400
                                                                }
                                                            },
                                                            {
                                                                "name": "baseSize",
                                                                "spec": [
                                                                    {
                                                                        "name": "width",
                                                                        "type": "uinteger",
                                                                        "label": "Width",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "max": 1040
                                                                        }
                                                                    },
                                                                    {
                                                                        "name": "height",
                                                                        "type": "uinteger",
                                                                        "label": "Height",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "max": 1040
                                                                        }
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Base Image Size"
                                                            },
                                                            {
                                                                "name": "actions",
                                                                "spec": [
                                                                    {
                                                                        "name": "type",
                                                                        "type": "select",
                                                                        "label": "Type",
                                                                        "options": [
                                                                            {
                                                                                "label": "URL",
                                                                                "value": "uri",
                                                                                "nested": [
                                                                                    {
                                                                                        "name": "linkUri",
                                                                                        "type": "url",
                                                                                        "label": "Link URL",
                                                                                        "required": true,
                                                                                        "validate": {
                                                                                            "max": 1000
                                                                                        }
                                                                                    }
                                                                                ]
                                                                            },
                                                                            {
                                                                                "label": "Message",
                                                                                "value": "message",
                                                                                "nested": [
                                                                                    {
                                                                                        "name": "text",
                                                                                        "type": "text",
                                                                                        "label": "Text",
                                                                                        "required": true,
                                                                                        "validate": {
                                                                                            "max": 400
                                                                                        }
                                                                                    }
                                                                                ],
                                                                                "default": true
                                                                            }
                                                                        ],
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "label",
                                                                        "type": "text",
                                                                        "label": "Label",
                                                                        "validate": {
                                                                            "max": 50
                                                                        }
                                                                    },
                                                                    {
                                                                        "name": "area",
                                                                        "spec": [
                                                                            {
                                                                                "help": "Horizontal position relative to the left edge of the imagemap area.",
                                                                                "name": "x",
                                                                                "type": "uinteger",
                                                                                "label": "X Axis",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "help": "Vertical position relative to the top of the imagemap area.",
                                                                                "name": "y",
                                                                                "type": "uinteger",
                                                                                "label": "Y Axis",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "help": "Width of the tappable area",
                                                                                "name": "width",
                                                                                "type": "uinteger",
                                                                                "label": "Width",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "help": "Height of the tappable are",
                                                                                "name": "height",
                                                                                "type": "uinteger",
                                                                                "label": "Height",
                                                                                "required": true
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "Area"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Actions",
                                                                "required": true,
                                                                "validate": {
                                                                    "maxItems": 50
                                                                }
                                                            },
                                                            {
                                                                "name": "video",
                                                                "spec": [
                                                                    {
                                                                        "help": "Max file size is 200 MB. A very wide or tall video may be cropped when played in some environments.\nSupported image format - MP4",
                                                                        "name": "originalContentUrl",
                                                                        "type": "url",
                                                                        "label": "Original Content URL",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "max": 1000
                                                                        }
                                                                    },
                                                                    {
                                                                        "help": "Max file size is 1MB.\nSupported image format - JPG, JPEG or PNG",
                                                                        "name": "previewImageUrl",
                                                                        "type": "url",
                                                                        "label": "Preview Image URL",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "max": 1000
                                                                        }
                                                                    },
                                                                    {
                                                                        "name": "area",
                                                                        "spec": [
                                                                            {
                                                                                "help": "Horizontal position of the video area relative to the left edge of the imagemap area.",
                                                                                "name": "x",
                                                                                "type": "uinteger",
                                                                                "label": "X Axis"
                                                                            },
                                                                            {
                                                                                "help": "Vertical position of the video area relative to the top of the imagemap area.",
                                                                                "name": "y",
                                                                                "type": "uinteger",
                                                                                "label": "Y Axis"
                                                                            },
                                                                            {
                                                                                "help": "Width of the video area",
                                                                                "name": "width",
                                                                                "type": "uinteger",
                                                                                "label": "Width"
                                                                            },
                                                                            {
                                                                                "help": "Height of the video are",
                                                                                "name": "height",
                                                                                "type": "uinteger",
                                                                                "label": "Height"
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "Area"
                                                                    },
                                                                    {
                                                                        "name": "externalLink",
                                                                        "spec": [
                                                                            {
                                                                                "name": "linkUri",
                                                                                "type": "url",
                                                                                "label": "Link URL",
                                                                                "validate": {
                                                                                    "max": 1000
                                                                                }
                                                                            },
                                                                            {
                                                                                "name": "label",
                                                                                "type": "text",
                                                                                "label": "Label",
                                                                                "validate": {
                                                                                    "max": 30
                                                                                }
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "External Link"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Video"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "label": "Template",
                                                        "value": "template",
                                                        "nested": [
                                                            {
                                                                "name": "altText",
                                                                "type": "text",
                                                                "label": "Alternative Text",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 400
                                                                }
                                                            },
                                                            {
                                                                "name": "template",
                                                                "spec": [
                                                                    {
                                                                        "name": "type",
                                                                        "type": "select",
                                                                        "label": "Type",
                                                                        "options": [
                                                                            {
                                                                                "label": "Buttons",
                                                                                "value": "buttons",
                                                                                "nested": [
                                                                                    {
                                                                                        "help": "Max file size is 1 MB.\nSupported image format - JPEG or PNG",
                                                                                        "name": "thumbnailImageUrl",
                                                                                        "type": "url",
                                                                                        "label": "Thumbnail Image URL",
                                                                                        "validate": {
                                                                                            "max": 1000
                                                                                        }
                                                                                    },
                                                                                    {
                                                                                        "name": "imageAspectRatio",
                                                                                        "type": "select",
                                                                                        "label": "Image Aspect Ratio",
                                                                                        "options": [
                                                                                            {
                                                                                                "label": "Rectangle (1.51 : 1)",
                                                                                                "value": "rectangle",
                                                                                                "default": true
                                                                                            },
                                                                                            {
                                                                                                "label": "Square (1 : 1)",
                                                                                                "value": "square"
                                                                                            }
                                                                                        ]
                                                                                    },
                                                                                    {
                                                                                        "help": "◉ `Cover`: The image fills the entire image area. Parts of the image that do not fit in the area are not displayed.\n◉`Contain`: The entire image is displayed in the image area. A background is displayed in the unused areas to the left and right of vertical images and in the areas above and below horizontal images.",
                                                                                        "name": "imageSize",
                                                                                        "type": "select",
                                                                                        "label": "Image Size",
                                                                                        "options": [
                                                                                            {
                                                                                                "label": "Cover",
                                                                                                "value": "cover",
                                                                                                "default": true
                                                                                            },
                                                                                            {
                                                                                                "label": "Contain",
                                                                                                "value": "contain"
                                                                                            }
                                                                                        ]
                                                                                    },
                                                                                    {
                                                                                        "name": "imageBackgroundColor",
                                                                                        "type": "color",
                                                                                        "label": "Image Background Color",
                                                                                        "default": "#FFFFFF"
                                                                                    },
                                                                                    {
                                                                                        "name": "title",
                                                                                        "type": "text",
                                                                                        "label": "Title",
                                                                                        "validate": {
                                                                                            "max": 40
                                                                                        }
                                                                                    },
                                                                                    {
                                                                                        "name": "text",
                                                                                        "type": "text",
                                                                                        "label": "Text",
                                                                                        "required": true,
                                                                                        "validate": {
                                                                                            "max": 160
                                                                                        }
                                                                                    },
                                                                                    {
                                                                                        "name": "defaultAction",
                                                                                        "spec": [
                                                                                            {
                                                                                                "name": "type",
                                                                                                "type": "select",
                                                                                                "label": "Type",
                                                                                                "options": [
                                                                                                    {
                                                                                                        "label": "Postback",
                                                                                                        "value": "postback",
                                                                                                        "nested": [
                                                                                                            {
                                                                                                                "name": "label",
                                                                                                                "type": "text",
                                                                                                                "label": "Label",
                                                                                                                "validate": {
                                                                                                                    "max": 20
                                                                                                                }
                                                                                                            },
                                                                                                            {
                                                                                                                "name": "text",
                                                                                                                "type": "text",
                                                                                                                "label": "Text",
                                                                                                                "required": true
                                                                                                            },
                                                                                                            {
                                                                                                                "name": "data",
                                                                                                                "type": "text",
                                                                                                                "label": "Data",
                                                                                                                "required": true,
                                                                                                                "validate": {
                                                                                                                    "max": 300
                                                                                                                }
                                                                                                            }
                                                                                                        ]
                                                                                                    },
                                                                                                    {
                                                                                                        "label": "Message",
                                                                                                        "value": "message",
                                                                                                        "nested": [
                                                                                                            {
                                                                                                                "name": "label",
                                                                                                                "type": "text",
                                                                                                                "label": "Label",
                                                                                                                "validate": {
                                                                                                                    "max": 20
                                                                                                                }
                                                                                                            },
                                                                                                            {
                                                                                                                "name": "text",
                                                                                                                "type": "text",
                                                                                                                "label": "Text",
                                                                                                                "required": true
                                                                                                            }
                                                                                                        ]
                                                                                                    },
                                                                                                    {
                                                                                                        "label": "URL",
                                                                                                        "value": "uri",
                                                                                                        "nested": [
                                                                                                            {
                                                                                                                "name": "label",
                                                                                                                "type": "text",
                                                                                                                "label": "Label",
                                                                                                                "validate": {
                                                                                                                    "max": 20
                                                                                                                }
                                                                                                            },
                                                                                                            {
                                                                                                                "name": "uri",
                                                                                                                "type": "text",
                                                                                                                "label": "URL",
                                                                                                                "required": true
                                                                                                            }
                                                                                                        ]
                                                                                                    }
                                                                                                ]
                                                                                            }
                                                                                        ],
                                                                                        "type": "collection",
                                                                                        "label": "Default Action"
                                                                                    },
                                                                                    {
                                                                                        "name": "actions",
                                                                                        "spec": [
                                                                                            {
                                                                                                "name": "type",
                                                                                                "type": "select",
                                                                                                "label": "Type",
                                                                                                "options": [
                                                                                                    {
                                                                                                        "label": "Postback",
                                                                                                        "value": "postback",
                                                                                                        "nested": [
                                                                                                            {
                                                                                                                "name": "label",
                                                                                                                "type": "text",
                                                                                                                "label": "Label",
                                                                                                                "validate": {
                                                                                                                    "max": 20
                                                                                                                }
                                                                                                            },
                                                                                                            {
                                                                                                                "name": "text",
                                                                                                                "type": "text",
                                                                                                                "label": "Text",
                                                                                                                "required": true
                                                                                                            },
                                                                                                            {
                                                                                                                "name": "data",
                                                                                                                "type": "text",
                                                                                                                "label": "Data",
                                                                                                                "required": true,
                                                                                                                "validate": {
                                                                                                                    "max": 300
                                                                                                                }
                                                                                                            }
                                                                                                        ]
                                                                                                    },
                                                                                                    {
                                                                                                        "label": "Message",
                                                                                                        "value": "message",
                                                                                                        "nested": [
                                                                                                            {
                                                                                                                "name": "label",
                                                                                                                "type": "text",
                                                                                                                "label": "Label",
                                                                                                                "validate": {
                                                                                                                    "max": 20
                                                                                                                }
                                                                                                            },
                                                                                                            {
                                                                                                                "name": "text",
                                                                                                                "type": "text",
                                                                                                                "label": "Text",
                                                                                                                "required": true
                                                                                                            }
                                                                                                        ]
                                                                                                    },
                                                                                                    {
                                                                                                        "label": "URL",
                                                                                                        "value": "uri",
                                                                                                        "nested": [
                                                                                                            {
                                                                                                                "name": "label",
                                                                                                                "type": "text",
                                                                                                                "label": "Label",
                                                                                                                "validate": {
                                                                                                                    "max": 20
                                                                                                                }
                                                                                                            },
                                                                                                            {
                                                                                                                "name": "uri",
                                                                                                                "type": "text",
                                                                                                                "label": "URL",
                                                                                                                "required": true
                                                                                                            }
                                                                                                        ]
                                                                                                    }
                                                                                                ],
                                                                                                "required": true
                                                                                            }
                                                                                        ],
                                                                                        "type": "array",
                                                                                        "label": "Actions",
                                                                                        "required": true
                                                                                    }
                                                                                ]
                                                                            },
                                                                            {
                                                                                "label": "Confirm",
                                                                                "value": "confirm",
                                                                                "nested": [
                                                                                    {
                                                                                        "name": "text",
                                                                                        "type": "text",
                                                                                        "label": "Text",
                                                                                        "required": true,
                                                                                        "validate": {
                                                                                            "max": 240
                                                                                        }
                                                                                    },
                                                                                    {
                                                                                        "name": "actions",
                                                                                        "spec": [
                                                                                            {
                                                                                                "name": "text",
                                                                                                "type": "text",
                                                                                                "label": "Text",
                                                                                                "required": true
                                                                                            },
                                                                                            {
                                                                                                "name": "type",
                                                                                                "type": "hidden",
                                                                                                "label": "Type",
                                                                                                "default": "message"
                                                                                            },
                                                                                            {
                                                                                                "name": "label",
                                                                                                "type": "text",
                                                                                                "label": "Label"
                                                                                            }
                                                                                        ],
                                                                                        "type": "array",
                                                                                        "label": "Actions",
                                                                                        "required": true,
                                                                                        "validate": {
                                                                                            "maxItems": 2
                                                                                        }
                                                                                    }
                                                                                ]
                                                                            },
                                                                            {
                                                                                "label": "Carousel",
                                                                                "value": "carousel",
                                                                                "nested": [
                                                                                    {
                                                                                        "name": "columns",
                                                                                        "spec": [
                                                                                            {
                                                                                                "help": "Max file size is 1 MB.\nSupported image format - JPEG or PNG",
                                                                                                "name": "thumbnailImageUrl",
                                                                                                "type": "url",
                                                                                                "label": "Thumbnail Image URL",
                                                                                                "validate": {
                                                                                                    "max": 1000
                                                                                                }
                                                                                            },
                                                                                            {
                                                                                                "name": "imageBackgroundColor",
                                                                                                "type": "color",
                                                                                                "label": "Image Background Color",
                                                                                                "default": "#FFFFFF"
                                                                                            },
                                                                                            {
                                                                                                "name": "title",
                                                                                                "type": "text",
                                                                                                "label": "Title",
                                                                                                "validate": {
                                                                                                    "max": 40
                                                                                                }
                                                                                            },
                                                                                            {
                                                                                                "name": "text",
                                                                                                "type": "text",
                                                                                                "label": "Text",
                                                                                                "required": true,
                                                                                                "validate": {
                                                                                                    "max": 120
                                                                                                }
                                                                                            },
                                                                                            {
                                                                                                "name": "defaultAction",
                                                                                                "spec": [
                                                                                                    {
                                                                                                        "name": "type",
                                                                                                        "type": "select",
                                                                                                        "label": "Type",
                                                                                                        "options": [
                                                                                                            {
                                                                                                                "label": "Postback",
                                                                                                                "value": "postback",
                                                                                                                "nested": [
                                                                                                                    {
                                                                                                                        "name": "label",
                                                                                                                        "type": "text",
                                                                                                                        "label": "Label",
                                                                                                                        "validate": {
                                                                                                                            "max": 20
                                                                                                                        }
                                                                                                                    },
                                                                                                                    {
                                                                                                                        "name": "text",
                                                                                                                        "type": "text",
                                                                                                                        "label": "Text",
                                                                                                                        "required": true
                                                                                                                    },
                                                                                                                    {
                                                                                                                        "name": "data",
                                                                                                                        "type": "text",
                                                                                                                        "label": "Data",
                                                                                                                        "required": true,
                                                                                                                        "validate": {
                                                                                                                            "max": 300
                                                                                                                        }
                                                                                                                    }
                                                                                                                ]
                                                                                                            },
                                                                                                            {
                                                                                                                "label": "Message",
                                                                                                                "value": "message",
                                                                                                                "nested": [
                                                                                                                    {
                                                                                                                        "name": "label",
                                                                                                                        "type": "text",
                                                                                                                        "label": "Label",
                                                                                                                        "validate": {
                                                                                                                            "max": 20
                                                                                                                        }
                                                                                                                    },
                                                                                                                    {
                                                                                                                        "name": "text",
                                                                                                                        "type": "text",
                                                                                                                        "label": "Text",
                                                                                                                        "required": true
                                                                                                                    }
                                                                                                                ]
                                                                                                            },
                                                                                                            {
                                                                                                                "label": "URL",
                                                                                                                "value": "uri",
                                                                                                                "nested": [
                                                                                                                    {
                                                                                                                        "name": "label",
                                                                                                                        "type": "text",
                                                                                                                        "label": "Label",
                                                                                                                        "validate": {
                                                                                                                            "max": 20
                                                                                                                        }
                                                                                                                    },
                                                                                                                    {
                                                                                                                        "name": "uri",
                                                                                                                        "type": "text",
                                                                                                                        "label": "URL",
                                                                                                                        "required": true
                                                                                                                    }
                                                                                                                ]
                                                                                                            }
                                                                                                        ]
                                                                                                    }
                                                                                                ],
                                                                                                "type": "collection",
                                                                                                "label": "Default Action"
                                                                                            },
                                                                                            {
                                                                                                "name": "actions",
                                                                                                "spec": [
                                                                                                    {
                                                                                                        "name": "type",
                                                                                                        "type": "select",
                                                                                                        "label": "Type",
                                                                                                        "options": [
                                                                                                            {
                                                                                                                "label": "Postback",
                                                                                                                "value": "postback",
                                                                                                                "nested": [
                                                                                                                    {
                                                                                                                        "name": "label",
                                                                                                                        "type": "text",
                                                                                                                        "label": "Label",
                                                                                                                        "validate": {
                                                                                                                            "max": 20
                                                                                                                        }
                                                                                                                    },
                                                                                                                    {
                                                                                                                        "name": "text",
                                                                                                                        "type": "text",
                                                                                                                        "label": "Text",
                                                                                                                        "required": true
                                                                                                                    },
                                                                                                                    {
                                                                                                                        "name": "data",
                                                                                                                        "type": "text",
                                                                                                                        "label": "Data",
                                                                                                                        "required": true,
                                                                                                                        "validate": {
                                                                                                                            "max": 300
                                                                                                                        }
                                                                                                                    }
                                                                                                                ]
                                                                                                            },
                                                                                                            {
                                                                                                                "label": "Message",
                                                                                                                "value": "message",
                                                                                                                "nested": [
                                                                                                                    {
                                                                                                                        "name": "label",
                                                                                                                        "type": "text",
                                                                                                                        "label": "Label",
                                                                                                                        "validate": {
                                                                                                                            "max": 20
                                                                                                                        }
                                                                                                                    },
                                                                                                                    {
                                                                                                                        "name": "text",
                                                                                                                        "type": "text",
                                                                                                                        "label": "Text",
                                                                                                                        "required": true
                                                                                                                    }
                                                                                                                ]
                                                                                                            },
                                                                                                            {
                                                                                                                "label": "URL",
                                                                                                                "value": "uri",
                                                                                                                "nested": [
                                                                                                                    {
                                                                                                                        "name": "label",
                                                                                                                        "type": "text",
                                                                                                                        "label": "Label",
                                                                                                                        "validate": {
                                                                                                                            "max": 20
                                                                                                                        }
                                                                                                                    },
                                                                                                                    {
                                                                                                                        "name": "uri",
                                                                                                                        "type": "text",
                                                                                                                        "label": "URL",
                                                                                                                        "required": true
                                                                                                                    }
                                                                                                                ]
                                                                                                            }
                                                                                                        ],
                                                                                                        "required": true
                                                                                                    }
                                                                                                ],
                                                                                                "type": "array",
                                                                                                "label": "Actions",
                                                                                                "required": true,
                                                                                                "validate": {
                                                                                                    "maxItems": 3
                                                                                                }
                                                                                            }
                                                                                        ],
                                                                                        "type": "array",
                                                                                        "label": "Columns",
                                                                                        "required": true,
                                                                                        "validate": {
                                                                                            "maxItems": 10
                                                                                        }
                                                                                    },
                                                                                    {
                                                                                        "name": "imageAspectRatio",
                                                                                        "type": "select",
                                                                                        "label": "Image Aspect Ratio",
                                                                                        "options": [
                                                                                            {
                                                                                                "label": "Rectangle (1.51 : 1)",
                                                                                                "value": "rectangle",
                                                                                                "default": true
                                                                                            },
                                                                                            {
                                                                                                "label": "Square (1 : 1)",
                                                                                                "value": "square"
                                                                                            }
                                                                                        ]
                                                                                    },
                                                                                    {
                                                                                        "help": "◉ `Cover`: The image fills the entire image area. Parts of the image that do not fit in the area are not displayed.\n◉`Contain`: The entire image is displayed in the image area. A background is displayed in the unused areas to the left and right of vertical images and in the areas above and below horizontal images.",
                                                                                        "name": "imageSize",
                                                                                        "type": "select",
                                                                                        "label": "Image Size",
                                                                                        "options": [
                                                                                            {
                                                                                                "label": "Cover",
                                                                                                "value": "cover",
                                                                                                "default": true
                                                                                            },
                                                                                            {
                                                                                                "label": "Contain",
                                                                                                "value": "contain"
                                                                                            }
                                                                                        ]
                                                                                    }
                                                                                ]
                                                                            },
                                                                            {
                                                                                "label": "Image Carousel",
                                                                                "value": "image_carousel",
                                                                                "nested": [
                                                                                    {
                                                                                        "name": "columns",
                                                                                        "spec": [
                                                                                            {
                                                                                                "help": "Max file size is 1 MB.\nSupported image format - JPEG or PNG",
                                                                                                "name": "imageUrl",
                                                                                                "type": "text",
                                                                                                "label": "Image URL",
                                                                                                "required": true
                                                                                            },
                                                                                            {
                                                                                                "name": "action",
                                                                                                "spec": [
                                                                                                    {
                                                                                                        "name": "type",
                                                                                                        "type": "select",
                                                                                                        "label": "Type",
                                                                                                        "options": [
                                                                                                            {
                                                                                                                "label": "Postback",
                                                                                                                "value": "postback",
                                                                                                                "nested": [
                                                                                                                    {
                                                                                                                        "name": "label",
                                                                                                                        "type": "text",
                                                                                                                        "label": "Label",
                                                                                                                        "validate": {
                                                                                                                            "max": 20
                                                                                                                        }
                                                                                                                    },
                                                                                                                    {
                                                                                                                        "name": "text",
                                                                                                                        "type": "text",
                                                                                                                        "label": "Text",
                                                                                                                        "required": true
                                                                                                                    },
                                                                                                                    {
                                                                                                                        "name": "data",
                                                                                                                        "type": "text",
                                                                                                                        "label": "Data",
                                                                                                                        "required": true,
                                                                                                                        "validate": {
                                                                                                                            "max": 300
                                                                                                                        }
                                                                                                                    }
                                                                                                                ]
                                                                                                            },
                                                                                                            {
                                                                                                                "label": "Message",
                                                                                                                "value": "message",
                                                                                                                "nested": [
                                                                                                                    {
                                                                                                                        "name": "label",
                                                                                                                        "type": "text",
                                                                                                                        "label": "Label",
                                                                                                                        "validate": {
                                                                                                                            "max": 20
                                                                                                                        }
                                                                                                                    },
                                                                                                                    {
                                                                                                                        "name": "text",
                                                                                                                        "type": "text",
                                                                                                                        "label": "Text",
                                                                                                                        "required": true
                                                                                                                    }
                                                                                                                ]
                                                                                                            },
                                                                                                            {
                                                                                                                "label": "URL",
                                                                                                                "value": "uri",
                                                                                                                "nested": [
                                                                                                                    {
                                                                                                                        "name": "label",
                                                                                                                        "type": "text",
                                                                                                                        "label": "Label",
                                                                                                                        "validate": {
                                                                                                                            "max": 20
                                                                                                                        }
                                                                                                                    },
                                                                                                                    {
                                                                                                                        "name": "uri",
                                                                                                                        "type": "text",
                                                                                                                        "label": "URL",
                                                                                                                        "required": true
                                                                                                                    }
                                                                                                                ]
                                                                                                            }
                                                                                                        ],
                                                                                                        "required": true
                                                                                                    }
                                                                                                ],
                                                                                                "type": "collection",
                                                                                                "label": "Action"
                                                                                            }
                                                                                        ],
                                                                                        "type": "array",
                                                                                        "label": "Columns",
                                                                                        "required": true,
                                                                                        "validate": {
                                                                                            "maxItems": 10
                                                                                        }
                                                                                    }
                                                                                ]
                                                                            }
                                                                        ]
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Template"
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "required": true
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Messages",
                                        "required": true,
                                        "validate": {
                                            "maxItems": 5
                                        }
                                    },
                                    {
                                        "name": "notificationDisabled",
                                        "type": "boolean",
                                        "label": "Notification Disabled",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 17,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "已經完成",
                                "scope": "roundtrip",
                                "value": "{{true}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2700,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "已經完成",
                                        "type": "any",
                                        "label": "已經完成"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 6,
                            "module": "http:ActionSendData",
                            "version": 3,
                            "parameters": {
                                "handleErrors": true,
                                "useNewZLibDeCompress": true
                            },
                            "filter": {
                                "name": "閱讀網頁",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{4.`工具名稱`}}",
                                            "b": "讀取網頁",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "ca": "",
                                "qs": [],
                                "url": "{{4.`工具參數`}}",
                                "gzip": true,
                                "method": "get",
                                "headers": [],
                                "timeout": "",
                                "useMtls": false,
                                "authPass": "",
                                "authUser": "",
                                "bodyType": "",
                                "serializeUrl": false,
                                "shareCookies": false,
                                "parseResponse": false,
                                "followRedirect": true,
                                "useQuerystring": false,
                                "followAllRedirects": false,
                                "rejectUnauthorized": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2400,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "qs": {
                                            "mode": "chose"
                                        },
                                        "method": {
                                            "mode": "chose",
                                            "label": "GET"
                                        },
                                        "headers": {
                                            "mode": "chose"
                                        },
                                        "bodyType": {
                                            "label": "Empty"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "handleErrors",
                                        "type": "boolean",
                                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                                        "required": true
                                    },
                                    {
                                        "name": "useNewZLibDeCompress",
                                        "type": "hidden"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "serializeUrl",
                                        "type": "boolean",
                                        "label": "Serialize URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "get",
                                                "head",
                                                "post",
                                                "put",
                                                "patch",
                                                "delete",
                                                "options"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Headers"
                                    },
                                    {
                                        "name": "qs",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Query String"
                                    },
                                    {
                                        "name": "bodyType",
                                        "type": "select",
                                        "label": "Body type",
                                        "validate": {
                                            "enum": [
                                                "raw",
                                                "x_www_form_urlencoded",
                                                "multipart_form_data"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "parseResponse",
                                        "type": "boolean",
                                        "label": "Parse response",
                                        "required": true
                                    },
                                    {
                                        "name": "authUser",
                                        "type": "text",
                                        "label": "User name"
                                    },
                                    {
                                        "name": "authPass",
                                        "type": "password",
                                        "label": "Password"
                                    },
                                    {
                                        "name": "timeout",
                                        "type": "uinteger",
                                        "label": "Timeout",
                                        "validate": {
                                            "max": 300,
                                            "min": 1
                                        }
                                    },
                                    {
                                        "name": "shareCookies",
                                        "type": "boolean",
                                        "label": "Share cookies with other HTTP modules",
                                        "required": true
                                    },
                                    {
                                        "name": "ca",
                                        "type": "cert",
                                        "label": "Self-signed certificate"
                                    },
                                    {
                                        "name": "rejectUnauthorized",
                                        "type": "boolean",
                                        "label": "Reject connections that are using unverified (self-signed) certificates",
                                        "required": true
                                    },
                                    {
                                        "name": "followRedirect",
                                        "type": "boolean",
                                        "label": "Follow redirect",
                                        "required": true
                                    },
                                    {
                                        "name": "useQuerystring",
                                        "type": "boolean",
                                        "label": "Disable serialization of multiple same query string keys as arrays",
                                        "required": true
                                    },
                                    {
                                        "name": "gzip",
                                        "type": "boolean",
                                        "label": "Request compressed content",
                                        "required": true
                                    },
                                    {
                                        "name": "useMtls",
                                        "type": "boolean",
                                        "label": "Use Mutual TLS",
                                        "required": true
                                    },
                                    {
                                        "name": "followAllRedirects",
                                        "type": "boolean",
                                        "label": "Follow all redirect",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 7,
                            "module": "regexp:HTMLToText",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "html": "{{6.data}}",
                                "newline": "lf",
                                "uppercaseHeadings": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2700,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "newline": {
                                            "label": "LF (\\n) - Unix/Mac OS X"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "html",
                                        "type": "text",
                                        "label": "HTML"
                                    },
                                    {
                                        "name": "newline",
                                        "type": "select",
                                        "label": "Line break",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "lf",
                                                "crlf",
                                                "cr"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "uppercaseHeadings",
                                        "type": "boolean",
                                        "label": "Uppercase headings",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 18,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "目前成果",
                                "scope": "roundtrip",
                                "value": "{{15.`目前成果`}}\n\n已使用工具 {{{4.`工具名稱`}}} 讀取位於 {{{4.`工具參數`}}} 的網頁, 內容如下：\n\n{{7.text}}\n---------"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 3000,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "目前成果",
                                        "type": "any",
                                        "label": "目前成果"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 10,
                            "module": "http:ActionGetFile",
                            "version": 3,
                            "parameters": {
                                "handleErrors": false
                            },
                            "filter": {
                                "name": "下載檔案",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{4.`工具名稱`}}",
                                            "b": "下載檔案",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "url": "{{4.`工具參數`}}",
                                "method": "get",
                                "serializeUrl": false,
                                "shareCookies": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2400,
                                    "y": 600
                                },
                                "restore": {},
                                "parameters": [
                                    {
                                        "name": "handleErrors",
                                        "type": "boolean",
                                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "serializeUrl",
                                        "type": "boolean",
                                        "label": "Serialize URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "hidden",
                                        "label": "Method"
                                    },
                                    {
                                        "name": "shareCookies",
                                        "type": "boolean",
                                        "label": "Share cookies with other HTTP modules",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 19,
                            "module": "util:SetVariables",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "scope": "roundtrip",
                                "variables": [
                                    {
                                        "name": "F_檔名",
                                        "value": "{{10.fileName}}"
                                    },
                                    {
                                        "name": "F_檔案內容",
                                        "value": "{{10.data}}"
                                    },
                                    {
                                        "name": "目前成果",
                                        "value": "{{15.`目前成果`}}\n\n已使用工具 {{{4.`工具名稱`}}} 下載了位於 {{{4.`工具參數`}}} 的檔案 {{{10.fileName}}} , 並且將檔案名稱放置在 F_檔名 變數中；檔案內容儲存在 F_檔案內容 中 \n---------"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2700,
                                    "y": 600
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        },
                                        "variables": {
                                            "items": [
                                                null,
                                                null,
                                                null
                                            ]
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "variables",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Variable name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "any",
                                                "label": "Variable value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Variables"
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "F_檔名",
                                        "type": "any",
                                        "label": "F_檔名"
                                    },
                                    {
                                        "name": "F_檔案內容",
                                        "type": "any",
                                        "label": "F_檔案內容"
                                    },
                                    {
                                        "name": "目前成果",
                                        "type": "any",
                                        "label": "目前成果"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 20,
                            "module": "util:GetVariables",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "上傳雲端",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{4.`工具名稱`}}",
                                            "b": "上傳雲端",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "variables": [
                                    "F_檔名",
                                    "F_檔案內容"
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2400,
                                    "y": 900
                                },
                                "restore": {
                                    "expect": {
                                        "variables": {
                                            "items": [
                                                null,
                                                null
                                            ]
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "variables",
                                        "spec": {
                                            "name": "value",
                                            "type": "text",
                                            "label": "Variable name",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "Variables"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "F_檔名",
                                        "type": "any",
                                        "label": "F_檔名"
                                    },
                                    {
                                        "name": "F_檔案內容",
                                        "type": "any",
                                        "label": "F_檔案內容"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 11,
                            "module": "onedrive:uploadAFile",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 35814
                            },
                            "mapper": {
                                "data": "{{20.`F_檔案內容`}}",
                                "enter": "id",
                                "folder": "/EAB283470DFB204E!324763",
                                "select": "my",
                                "select1": "no",
                                "filename": "{{20.`F_檔名`}}",
                                "conflictBehavior": "replace"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2700,
                                    "y": 900
                                },
                                "restore": {
                                    "expect": {
                                        "enter": {
                                            "label": "Folder Location ID"
                                        },
                                        "folder": {
                                            "mode": "chose",
                                            "path": [
                                                "public"
                                            ]
                                        },
                                        "select": {
                                            "label": "My Drive"
                                        },
                                        "select1": {
                                            "label": "No"
                                        },
                                        "conflictBehavior": {
                                            "label": "Replace the existing file"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "azure"
                                            },
                                            "label": "My Microsoft connection (meebox hwang)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:azure",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "enter",
                                        "type": "select",
                                        "label": "Enter (Folder Location ID & Path)",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "id",
                                                "path"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "filename",
                                        "type": "filename",
                                        "label": "File Name",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "type": "buffer",
                                        "label": "Data",
                                        "required": true
                                    },
                                    {
                                        "name": "conflictBehavior",
                                        "type": "select",
                                        "label": "If the File with the Same Name Exists",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "replace",
                                                "rename",
                                                "fail"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "description",
                                        "type": "text",
                                        "label": "Description"
                                    },
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Choose your OneDrive location",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "my",
                                                "site",
                                                "group"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "select1",
                                        "type": "select",
                                        "label": "Enable to Enter a Drive ID",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "yes",
                                                "no"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "folder",
                                        "type": "folder",
                                        "label": "Folder"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 21,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "目前成果",
                                "scope": "roundtrip",
                                "value": "{{15.`目前成果`}}\n\n已經使用工具 {{{4.`工具名稱`}}} 上傳了 {{{11.name}}} 檔案到 OneDrive 雲端備份完成, 在 {{{11.webUrl}}} 網址可以看到上傳到雲端備份好的檔案, 如果要從 OneDrive 下載檔案, 它的 File ID 是 {{{11.id}}}\n--------"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 3000,
                                    "y": 900
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "目前成果",
                                        "type": "any",
                                        "label": "目前成果"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com"
    }
}