ch07/網頁備份筆記.json
{
    "name": "網頁備份筆記",
    "flow": [
        {
            "id": 1,
            "module": "line:watchMessages",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": 32160
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "label": "網頁備份筆記",
                            "data": {
                                "editable": "false"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:line",
                        "label": "Webhook",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": true,
                "useNewZLibDeCompress": true
            },
            "mapper": {
                "ca": "",
                "qs": [],
                "url": "{{1.events[].message.text}}",
                "gzip": true,
                "method": "get",
                "headers": [],
                "timeout": "",
                "useMtls": false,
                "authPass": "",
                "authUser": "",
                "bodyType": "",
                "serializeUrl": false,
                "shareCookies": false,
                "parseResponse": false,
                "followRedirect": true,
                "useQuerystring": false,
                "followAllRedirects": false,
                "rejectUnauthorized": true
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "qs": {
                            "mode": "chose"
                        },
                        "method": {
                            "mode": "chose",
                            "label": "GET"
                        },
                        "headers": {
                            "mode": "chose"
                        },
                        "bodyType": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    },
                    {
                        "name": "useNewZLibDeCompress",
                        "type": "hidden"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "validate": {
                            "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "authUser",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "authPass",
                        "type": "password",
                        "label": "Password"
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "ca",
                        "type": "cert",
                        "label": "Self-signed certificate"
                    },
                    {
                        "name": "rejectUnauthorized",
                        "type": "boolean",
                        "label": "Reject connections that are using unverified (self-signed) certificates",
                        "required": true
                    },
                    {
                        "name": "followRedirect",
                        "type": "boolean",
                        "label": "Follow redirect",
                        "required": true
                    },
                    {
                        "name": "useQuerystring",
                        "type": "boolean",
                        "label": "Disable serialization of multiple same query string keys as arrays",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "useMtls",
                        "type": "boolean",
                        "label": "Use Mutual TLS",
                        "required": true
                    },
                    {
                        "name": "followAllRedirects",
                        "type": "boolean",
                        "label": "Follow all redirect",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "markdown:Decompile",
            "version": 2,
            "parameters": {},
            "mapper": {
                "gfm": true,
                "data": "{{2.data}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "gfm": {
                            "mode": "chose"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "data",
                        "type": "text",
                        "label": "HTML"
                    },
                    {
                        "name": "gfm",
                        "type": "boolean",
                        "label": "GitHub Flavored Markdown",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 9,
            "module": "openai-gpt-3:CreateCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 25783
            },
            "mapper": {
                "model": "gpt-4o-mini",
                "top_p": "1",
                "select": "chat",
                "messages": [
                    {
                        "role": "user",
                        "content": "以下是從 HTML 轉換得到的 Markdown 內容, 請移除 JavaScript 等非 Markdown 部分後給我, 不要加上任何的說明文字：\n\n{{3.data}}"
                    }
                ],
                "max_tokens": "0",
                "temperature": "1",
                "n_completions": "1",
                "response_format": "text"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "stop": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "gpt-4o-mini (system)"
                        },
                        "select": {
                            "label": "Create a Chat Completion (GPT Models)"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    }
                                }
                            ]
                        },
                        "logit_bias": {
                            "mode": "chose"
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "Text"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "My OpenAI connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "chat",
                                "prompt"
                            ]
                        }
                    },
                    {
                        "name": "max_tokens",
                        "type": "number",
                        "label": "Max Tokens",
                        "required": true
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "logit_bias",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "token",
                                    "type": "text",
                                    "label": "Token ID",
                                    "required": true
                                },
                                {
                                    "name": "probability",
                                    "type": "number",
                                    "label": "Probability",
                                    "required": true,
                                    "validate": {
                                        "max": 100,
                                        "min": -100
                                    }
                                }
                            ],
                            "type": "collection",
                            "label": "Token Probability"
                        },
                        "type": "array",
                        "label": "Token Probability"
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    },
                    {
                        "name": "seed",
                        "type": "integer",
                        "label": "Seed"
                    },
                    {
                        "name": "stop",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Stop Sequence"
                        },
                        "type": "array",
                        "label": "Stop Sequences",
                        "validate": {
                            "maxItems": 4
                        }
                    },
                    {
                        "name": "additionalParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter"
                        },
                        "type": "array",
                        "label": "Other Input Parameters"
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "messages",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "options": [
                                        {
                                            "label": "System",
                                            "value": "system"
                                        },
                                        {
                                            "label": "User",
                                            "value": "user"
                                        },
                                        {
                                            "label": "Assistant",
                                            "value": "assistant"
                                        }
                                    ],
                                    "required": true
                                },
                                {
                                    "name": "content",
                                    "type": "text",
                                    "label": "Message Content"
                                }
                            ],
                            "type": "collection",
                            "label": "Message"
                        },
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "json:CreateJSON",
            "version": 1,
            "parameters": {
                "type": 3449,
                "space": ""
            },
            "mapper": {
                "title": "新筆記",
                "content": "{{9.result}}",
                "readPermission": "guest",
                "writePermission": "owner",
                "commentPermission": "everyone"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "HackMD API 建立新筆記"
                        },
                        "space": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure",
                        "required": true
                    },
                    {
                        "name": "space",
                        "type": "select",
                        "label": "Indentation",
                        "validate": {
                            "enum": [
                                "tab",
                                "2",
                                "4"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "title",
                        "type": "text",
                        "label": "Title"
                    },
                    {
                        "name": "content",
                        "type": "text",
                        "label": "Content"
                    },
                    {
                        "name": "readPermission",
                        "type": "text",
                        "label": "Read Permission"
                    },
                    {
                        "name": "writePermission",
                        "type": "text",
                        "label": "Write Permission"
                    },
                    {
                        "name": "commentPermission",
                        "type": "text",
                        "label": "Comment Permission"
                    }
                ]
            }
        },
        {
            "id": 10,
            "module": "http:ActionSendDataAPIKeyAuth",
            "version": 3,
            "parameters": {
                "auth": 2328,
                "handleErrors": false
            },
            "mapper": {
                "url": "https://api.hackmd.io/v1/notes",
                "serializeUrl": false,
                "method": "post",
                "headers": [],
                "qs": [],
                "bodyType": "raw",
                "parseResponse": true,
                "timeout": "",
                "shareCookies": false,
                "ca": "",
                "rejectUnauthorized": true,
                "followRedirect": true,
                "useQuerystring": false,
                "gzip": true,
                "useMtls": false,
                "contentType": "application/json",
                "data": "{{5.json}}",
                "followAllRedirects": false
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "auth": {
                            "label": "HackMD"
                        }
                    },
                    "expect": {
                        "method": {
                            "mode": "chose",
                            "label": "POST"
                        },
                        "headers": {
                            "mode": "chose"
                        },
                        "qs": {
                            "mode": "chose"
                        },
                        "bodyType": {
                            "label": "Raw"
                        },
                        "contentType": {
                            "label": "JSON (application/json)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "auth",
                        "type": "keychain:apikeyauth",
                        "label": "Credentials",
                        "required": true
                    },
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "type": "array",
                        "label": "Headers",
                        "spec": [
                            {
                                "name": "name",
                                "label": "Name",
                                "type": "text",
                                "required": true
                            },
                            {
                                "name": "value",
                                "label": "Value",
                                "type": "text"
                            }
                        ]
                    },
                    {
                        "name": "qs",
                        "type": "array",
                        "label": "Query String",
                        "spec": [
                            {
                                "name": "name",
                                "label": "Name",
                                "type": "text",
                                "required": true
                            },
                            {
                                "name": "value",
                                "label": "Value",
                                "type": "text"
                            }
                        ]
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "validate": {
                            "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "ca",
                        "type": "cert",
                        "label": "Self-signed certificate"
                    },
                    {
                        "name": "rejectUnauthorized",
                        "type": "boolean",
                        "label": "Reject connections that are using unverified (self-signed) certificates",
                        "required": true
                    },
                    {
                        "name": "followRedirect",
                        "type": "boolean",
                        "label": "Follow redirect",
                        "required": true
                    },
                    {
                        "name": "useQuerystring",
                        "type": "boolean",
                        "label": "Disable serialization of multiple same query string keys as arrays",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "useMtls",
                        "type": "boolean",
                        "label": "Use Mutual TLS",
                        "required": true
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Content type",
                        "validate": {
                            "enum": [
                                "text/plain",
                                "application/json",
                                "application/xml",
                                "text/xml",
                                "text/html",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Request content"
                    },
                    {
                        "name": "followAllRedirects",
                        "type": "boolean",
                        "label": "Follow all redirect",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "line:sendAReplyMessage",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 45235
            },
            "mapper": {
                "replyToken": "{{1.events[].replyToken}}",
                "messages": [
                    {
                        "type": "text",
                        "text": "{{10.data.publishLink}}"
                    }
                ],
                "notificationDisabled": false
            },
            "metadata": {
                "designer": {
                    "x": 1800,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "AI 聊天機器人 (AI 小助手)",
                            "data": {
                                "scoped": "true",
                                "connection": "line2"
                            }
                        }
                    },
                    "expect": {
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "type": {
                                        "mode": "chose",
                                        "label": "Text"
                                    },
                                    "emojis": {
                                        "mode": "chose"
                                    }
                                }
                            ]
                        },
                        "notificationDisabled": {
                            "mode": "chose"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:line2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "replyToken",
                        "type": "text",
                        "label": "Reply Token",
                        "required": true
                    },
                    {
                        "name": "messages",
                        "type": "array",
                        "label": "Messages",
                        "validate": {
                            "maxItems": 5
                        },
                        "required": true,
                        "spec": [
                            {
                                "name": "type",
                                "type": "select",
                                "label": "Type",
                                "options": [
                                    {
                                        "label": "Text",
                                        "value": "text",
                                        "nested": [
                                            {
                                                "help": "For LINE emoji, use a `$` character as a placeholder and specify details in the LINE Emojis parameter.",
                                                "name": "text",
                                                "type": "text",
                                                "label": "Text",
                                                "required": true,
                                                "validate": {
                                                    "max": 5000
                                                }
                                            },
                                            {
                                                "help": "The number of emoji items must be equal to the number of `$` on Text parameter.",
                                                "name": "emojis",
                                                "spec": [
                                                    {
                                                        "help": "Product ID for a set of LINE emoji. See [Sendable LINE emoji list](https://d.line-scdn.net/r/devcenter/sendable_line_emoji_list.pdf).",
                                                        "name": "productId",
                                                        "type": "text",
                                                        "label": "Product ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "help": "ID for a LINE emoji inside a set. See [Sendable LINE emoji list](https://d.line-scdn.net/r/devcenter/sendable_line_emoji_list.pdf).",
                                                        "name": "emojiId",
                                                        "type": "text",
                                                        "label": "Emoji ID",
                                                        "required": true
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "LINE Emojis",
                                                "validate": {
                                                    "maxItems": 20
                                                }
                                            }
                                        ],
                                        "default": true
                                    },
                                    {
                                        "label": "Sticker",
                                        "value": "sticker",
                                        "nested": [
                                            {
                                                "help": "Package ID for a set of stickers. For information on package IDs, see the [Sticker list](https://developers.line.biz/en/docs/messaging-api/sticker-list).",
                                                "name": "packageId",
                                                "type": "text",
                                                "label": "Package ID",
                                                "required": true
                                            },
                                            {
                                                "help": "Sticker ID. For a list of sticker IDs for stickers that can be sent with the Messaging API, see the [Sticker list](https://developers.line.biz/en/docs/messaging-api/sticker-list).",
                                                "name": "stickerId",
                                                "type": "text",
                                                "label": "Sticker ID",
                                                "required": true
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Image",
                                        "value": "image",
                                        "nested": [
                                            {
                                                "help": "Max file size is 10 MB.\nSupported image format - JPG, JPEG or PNG",
                                                "name": "originalContentUrl",
                                                "type": "url",
                                                "label": "Original Content URL",
                                                "required": true,
                                                "validate": {
                                                    "max": 1000
                                                }
                                            },
                                            {
                                                "help": "Max file size is 1 MB.\nSupported image format - JPG, JPEG or PNG",
                                                "name": "previewImageUrl",
                                                "type": "url",
                                                "label": "Preview Image URL",
                                                "required": true,
                                                "validate": {
                                                    "max": 1000
                                                }
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Video",
                                        "value": "video",
                                        "nested": [
                                            {
                                                "help": "Max file size is 200 MB. A very wide or tall video may be cropped when played in some environments.\nSupported image format - MP4",
                                                "name": "originalContentUrl",
                                                "type": "url",
                                                "label": "Original Content URL",
                                                "required": true,
                                                "validate": {
                                                    "max": 1000
                                                }
                                            },
                                            {
                                                "help": "Max file size is 1MB.\nSupported image format - JPG, JPEG or PNG",
                                                "name": "previewImageUrl",
                                                "type": "url",
                                                "label": "Preview Image URL",
                                                "required": true,
                                                "validate": {
                                                    "max": 1000
                                                }
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Audio",
                                        "value": "audio",
                                        "nested": [
                                            {
                                                "help": "Max file size is 200 MB.\nSupported image format - M4A",
                                                "name": "originalContentUrl",
                                                "type": "url",
                                                "label": "Original Content URL",
                                                "required": true,
                                                "validate": {
                                                    "max": 1000
                                                }
                                            },
                                            {
                                                "name": "duration",
                                                "type": "uinteger",
                                                "label": "Duration (in seconds)",
                                                "required": true
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Location",
                                        "value": "location",
                                        "nested": [
                                            {
                                                "name": "title",
                                                "type": "text",
                                                "label": "Title",
                                                "required": true,
                                                "validate": {
                                                    "max": 100
                                                }
                                            },
                                            {
                                                "name": "address",
                                                "type": "text",
                                                "label": "Address",
                                                "required": true,
                                                "validate": {
                                                    "max": 100
                                                }
                                            },
                                            {
                                                "name": "latitude",
                                                "type": "number",
                                                "label": "Latitude",
                                                "required": true
                                            },
                                            {
                                                "name": "longitude",
                                                "type": "number",
                                                "label": "Longitude",
                                                "required": true
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Image Map",
                                        "value": "imagemap",
                                        "nested": [
                                            {
                                                "help": "Base URL of the image",
                                                "name": "baseUrl",
                                                "type": "url",
                                                "label": "Base URL of the image",
                                                "required": true,
                                                "validate": {
                                                    "max": 1000
                                                }
                                            },
                                            {
                                                "name": "altText",
                                                "type": "text",
                                                "label": "Alternative Text",
                                                "required": true,
                                                "validate": {
                                                    "max": 400
                                                }
                                            },
                                            {
                                                "name": "baseSize",
                                                "spec": [
                                                    {
                                                        "name": "width",
                                                        "type": "uinteger",
                                                        "label": "Width",
                                                        "required": true,
                                                        "validate": {
                                                            "max": 1040
                                                        }
                                                    },
                                                    {
                                                        "name": "height",
                                                        "type": "uinteger",
                                                        "label": "Height",
                                                        "required": true,
                                                        "validate": {
                                                            "max": 1040
                                                        }
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Base Image Size"
                                            },
                                            {
                                                "name": "actions",
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "select",
                                                        "label": "Type",
                                                        "options": [
                                                            {
                                                                "label": "URL",
                                                                "value": "uri",
                                                                "nested": [
                                                                    {
                                                                        "name": "linkUri",
                                                                        "type": "url",
                                                                        "label": "Link URL",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "max": 1000
                                                                        }
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Message",
                                                                "value": "message",
                                                                "nested": [
                                                                    {
                                                                        "name": "text",
                                                                        "type": "text",
                                                                        "label": "Text",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "max": 400
                                                                        }
                                                                    }
                                                                ],
                                                                "default": true
                                                            }
                                                        ],
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "label",
                                                        "type": "text",
                                                        "label": "Label",
                                                        "validate": {
                                                            "max": 50
                                                        }
                                                    },
                                                    {
                                                        "name": "area",
                                                        "spec": [
                                                            {
                                                                "help": "Horizontal position relative to the left edge of the imagemap area.",
                                                                "name": "x",
                                                                "type": "uinteger",
                                                                "label": "X Axis",
                                                                "required": true
                                                            },
                                                            {
                                                                "help": "Vertical position relative to the top of the imagemap area.",
                                                                "name": "y",
                                                                "type": "uinteger",
                                                                "label": "Y Axis",
                                                                "required": true
                                                            },
                                                            {
                                                                "help": "Width of the tappable area",
                                                                "name": "width",
                                                                "type": "uinteger",
                                                                "label": "Width",
                                                                "required": true
                                                            },
                                                            {
                                                                "help": "Height of the tappable are",
                                                                "name": "height",
                                                                "type": "uinteger",
                                                                "label": "Height",
                                                                "required": true
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Area"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Actions",
                                                "required": true,
                                                "validate": {
                                                    "maxItems": 50
                                                }
                                            },
                                            {
                                                "name": "video",
                                                "spec": [
                                                    {
                                                        "help": "Max file size is 200 MB. A very wide or tall video may be cropped when played in some environments.\nSupported image format - MP4",
                                                        "name": "originalContentUrl",
                                                        "type": "url",
                                                        "label": "Original Content URL",
                                                        "required": true,
                                                        "validate": {
                                                            "max": 1000
                                                        }
                                                    },
                                                    {
                                                        "help": "Max file size is 1MB.\nSupported image format - JPG, JPEG or PNG",
                                                        "name": "previewImageUrl",
                                                        "type": "url",
                                                        "label": "Preview Image URL",
                                                        "required": true,
                                                        "validate": {
                                                            "max": 1000
                                                        }
                                                    },
                                                    {
                                                        "name": "area",
                                                        "spec": [
                                                            {
                                                                "help": "Horizontal position of the video area relative to the left edge of the imagemap area.",
                                                                "name": "x",
                                                                "type": "uinteger",
                                                                "label": "X Axis"
                                                            },
                                                            {
                                                                "help": "Vertical position of the video area relative to the top of the imagemap area.",
                                                                "name": "y",
                                                                "type": "uinteger",
                                                                "label": "Y Axis"
                                                            },
                                                            {
                                                                "help": "Width of the video area",
                                                                "name": "width",
                                                                "type": "uinteger",
                                                                "label": "Width"
                                                            },
                                                            {
                                                                "help": "Height of the video are",
                                                                "name": "height",
                                                                "type": "uinteger",
                                                                "label": "Height"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Area"
                                                    },
                                                    {
                                                        "name": "externalLink",
                                                        "spec": [
                                                            {
                                                                "name": "linkUri",
                                                                "type": "url",
                                                                "label": "Link URL",
                                                                "validate": {
                                                                    "max": 1000
                                                                }
                                                            },
                                                            {
                                                                "name": "label",
                                                                "type": "text",
                                                                "label": "Label",
                                                                "validate": {
                                                                    "max": 30
                                                                }
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "External Link"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Video"
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Template",
                                        "value": "template",
                                        "nested": [
                                            {
                                                "name": "altText",
                                                "type": "text",
                                                "label": "Alternative Text",
                                                "required": true,
                                                "validate": {
                                                    "max": 400
                                                }
                                            },
                                            {
                                                "name": "template",
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "select",
                                                        "label": "Type",
                                                        "options": [
                                                            {
                                                                "label": "Buttons",
                                                                "value": "buttons",
                                                                "nested": [
                                                                    {
                                                                        "help": "Max file size is 1 MB.\nSupported image format - JPEG or PNG",
                                                                        "name": "thumbnailImageUrl",
                                                                        "type": "url",
                                                                        "label": "Thumbnail Image URL",
                                                                        "validate": {
                                                                            "max": 1000
                                                                        }
                                                                    },
                                                                    {
                                                                        "name": "imageAspectRatio",
                                                                        "type": "select",
                                                                        "label": "Image Aspect Ratio",
                                                                        "options": [
                                                                            {
                                                                                "label": "Rectangle (1.51 : 1)",
                                                                                "value": "rectangle",
                                                                                "default": true
                                                                            },
                                                                            {
                                                                                "label": "Square (1 : 1)",
                                                                                "value": "square"
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "help": "◉ `Cover`: The image fills the entire image area. Parts of the image that do not fit in the area are not displayed.\n◉`Contain`: The entire image is displayed in the image area. A background is displayed in the unused areas to the left and right of vertical images and in the areas above and below horizontal images.",
                                                                        "name": "imageSize",
                                                                        "type": "select",
                                                                        "label": "Image Size",
                                                                        "options": [
                                                                            {
                                                                                "label": "Cover",
                                                                                "value": "cover",
                                                                                "default": true
                                                                            },
                                                                            {
                                                                                "label": "Contain",
                                                                                "value": "contain"
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "name": "imageBackgroundColor",
                                                                        "type": "color",
                                                                        "label": "Image Background Color",
                                                                        "default": "#FFFFFF"
                                                                    },
                                                                    {
                                                                        "name": "title",
                                                                        "type": "text",
                                                                        "label": "Title",
                                                                        "validate": {
                                                                            "max": 40
                                                                        }
                                                                    },
                                                                    {
                                                                        "name": "text",
                                                                        "type": "text",
                                                                        "label": "Text",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "max": 160
                                                                        }
                                                                    },
                                                                    {
                                                                        "name": "defaultAction",
                                                                        "spec": [
                                                                            {
                                                                                "name": "type",
                                                                                "type": "select",
                                                                                "label": "Type",
                                                                                "options": [
                                                                                    {
                                                                                        "label": "Postback",
                                                                                        "value": "postback",
                                                                                        "nested": [
                                                                                            {
                                                                                                "name": "label",
                                                                                                "type": "text",
                                                                                                "label": "Label",
                                                                                                "validate": {
                                                                                                    "max": 20
                                                                                                }
                                                                                            },
                                                                                            {
                                                                                                "name": "text",
                                                                                                "type": "text",
                                                                                                "label": "Text",
                                                                                                "required": true
                                                                                            },
                                                                                            {
                                                                                                "name": "data",
                                                                                                "type": "text",
                                                                                                "label": "Data",
                                                                                                "required": true,
                                                                                                "validate": {
                                                                                                    "max": 300
                                                                                                }
                                                                                            }
                                                                                        ]
                                                                                    },
                                                                                    {
                                                                                        "label": "Message",
                                                                                        "value": "message",
                                                                                        "nested": [
                                                                                            {
                                                                                                "name": "label",
                                                                                                "type": "text",
                                                                                                "label": "Label",
                                                                                                "validate": {
                                                                                                    "max": 20
                                                                                                }
                                                                                            },
                                                                                            {
                                                                                                "name": "text",
                                                                                                "type": "text",
                                                                                                "label": "Text",
                                                                                                "required": true
                                                                                            }
                                                                                        ]
                                                                                    },
                                                                                    {
                                                                                        "label": "URL",
                                                                                        "value": "uri",
                                                                                        "nested": [
                                                                                            {
                                                                                                "name": "label",
                                                                                                "type": "text",
                                                                                                "label": "Label",
                                                                                                "validate": {
                                                                                                    "max": 20
                                                                                                }
                                                                                            },
                                                                                            {
                                                                                                "name": "uri",
                                                                                                "type": "text",
                                                                                                "label": "URL",
                                                                                                "required": true
                                                                                            }
                                                                                        ]
                                                                                    }
                                                                                ]
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "Default Action"
                                                                    },
                                                                    {
                                                                        "name": "actions",
                                                                        "spec": [
                                                                            {
                                                                                "name": "type",
                                                                                "type": "select",
                                                                                "label": "Type",
                                                                                "options": [
                                                                                    {
                                                                                        "label": "Postback",
                                                                                        "value": "postback",
                                                                                        "nested": [
                                                                                            {
                                                                                                "name": "label",
                                                                                                "type": "text",
                                                                                                "label": "Label",
                                                                                                "validate": {
                                                                                                    "max": 20
                                                                                                }
                                                                                            },
                                                                                            {
                                                                                                "name": "text",
                                                                                                "type": "text",
                                                                                                "label": "Text",
                                                                                                "required": true
                                                                                            },
                                                                                            {
                                                                                                "name": "data",
                                                                                                "type": "text",
                                                                                                "label": "Data",
                                                                                                "required": true,
                                                                                                "validate": {
                                                                                                    "max": 300
                                                                                                }
                                                                                            }
                                                                                        ]
                                                                                    },
                                                                                    {
                                                                                        "label": "Message",
                                                                                        "value": "message",
                                                                                        "nested": [
                                                                                            {
                                                                                                "name": "label",
                                                                                                "type": "text",
                                                                                                "label": "Label",
                                                                                                "validate": {
                                                                                                    "max": 20
                                                                                                }
                                                                                            },
                                                                                            {
                                                                                                "name": "text",
                                                                                                "type": "text",
                                                                                                "label": "Text",
                                                                                                "required": true
                                                                                            }
                                                                                        ]
                                                                                    },
                                                                                    {
                                                                                        "label": "URL",
                                                                                        "value": "uri",
                                                                                        "nested": [
                                                                                            {
                                                                                                "name": "label",
                                                                                                "type": "text",
                                                                                                "label": "Label",
                                                                                                "validate": {
                                                                                                    "max": 20
                                                                                                }
                                                                                            },
                                                                                            {
                                                                                                "name": "uri",
                                                                                                "type": "text",
                                                                                                "label": "URL",
                                                                                                "required": true
                                                                                            }
                                                                                        ]
                                                                                    }
                                                                                ],
                                                                                "required": true
                                                                            }
                                                                        ],
                                                                        "type": "array",
                                                                        "label": "Actions",
                                                                        "required": true
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Confirm",
                                                                "value": "confirm",
                                                                "nested": [
                                                                    {
                                                                        "name": "text",
                                                                        "type": "text",
                                                                        "label": "Text",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "max": 240
                                                                        }
                                                                    },
                                                                    {
                                                                        "name": "actions",
                                                                        "spec": [
                                                                            {
                                                                                "name": "text",
                                                                                "type": "text",
                                                                                "label": "Text",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "name": "type",
                                                                                "type": "hidden",
                                                                                "label": "Type",
                                                                                "default": "message"
                                                                            },
                                                                            {
                                                                                "name": "label",
                                                                                "type": "text",
                                                                                "label": "Label"
                                                                            }
                                                                        ],
                                                                        "type": "array",
                                                                        "label": "Actions",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "maxItems": 2
                                                                        }
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Carousel",
                                                                "value": "carousel",
                                                                "nested": [
                                                                    {
                                                                        "name": "columns",
                                                                        "spec": [
                                                                            {
                                                                                "help": "Max file size is 1 MB.\nSupported image format - JPEG or PNG",
                                                                                "name": "thumbnailImageUrl",
                                                                                "type": "url",
                                                                                "label": "Thumbnail Image URL",
                                                                                "validate": {
                                                                                    "max": 1000
                                                                                }
                                                                            },
                                                                            {
                                                                                "name": "imageBackgroundColor",
                                                                                "type": "color",
                                                                                "label": "Image Background Color",
                                                                                "default": "#FFFFFF"
                                                                            },
                                                                            {
                                                                                "name": "title",
                                                                                "type": "text",
                                                                                "label": "Title",
                                                                                "validate": {
                                                                                    "max": 40
                                                                                }
                                                                            },
                                                                            {
                                                                                "name": "text",
                                                                                "type": "text",
                                                                                "label": "Text",
                                                                                "required": true,
                                                                                "validate": {
                                                                                    "max": 120
                                                                                }
                                                                            },
                                                                            {
                                                                                "name": "defaultAction",
                                                                                "spec": [
                                                                                    {
                                                                                        "name": "type",
                                                                                        "type": "select",
                                                                                        "label": "Type",
                                                                                        "options": [
                                                                                            {
                                                                                                "label": "Postback",
                                                                                                "value": "postback",
                                                                                                "nested": [
                                                                                                    {
                                                                                                        "name": "label",
                                                                                                        "type": "text",
                                                                                                        "label": "Label",
                                                                                                        "validate": {
                                                                                                            "max": 20
                                                                                                        }
                                                                                                    },
                                                                                                    {
                                                                                                        "name": "text",
                                                                                                        "type": "text",
                                                                                                        "label": "Text",
                                                                                                        "required": true
                                                                                                    },
                                                                                                    {
                                                                                                        "name": "data",
                                                                                                        "type": "text",
                                                                                                        "label": "Data",
                                                                                                        "required": true,
                                                                                                        "validate": {
                                                                                                            "max": 300
                                                                                                        }
                                                                                                    }
                                                                                                ]
                                                                                            },
                                                                                            {
                                                                                                "label": "Message",
                                                                                                "value": "message",
                                                                                                "nested": [
                                                                                                    {
                                                                                                        "name": "label",
                                                                                                        "type": "text",
                                                                                                        "label": "Label",
                                                                                                        "validate": {
                                                                                                            "max": 20
                                                                                                        }
                                                                                                    },
                                                                                                    {
                                                                                                        "name": "text",
                                                                                                        "type": "text",
                                                                                                        "label": "Text",
                                                                                                        "required": true
                                                                                                    }
                                                                                                ]
                                                                                            },
                                                                                            {
                                                                                                "label": "URL",
                                                                                                "value": "uri",
                                                                                                "nested": [
                                                                                                    {
                                                                                                        "name": "label",
                                                                                                        "type": "text",
                                                                                                        "label": "Label",
                                                                                                        "validate": {
                                                                                                            "max": 20
                                                                                                        }
                                                                                                    },
                                                                                                    {
                                                                                                        "name": "uri",
                                                                                                        "type": "text",
                                                                                                        "label": "URL",
                                                                                                        "required": true
                                                                                                    }
                                                                                                ]
                                                                                            }
                                                                                        ]
                                                                                    }
                                                                                ],
                                                                                "type": "collection",
                                                                                "label": "Default Action"
                                                                            },
                                                                            {
                                                                                "name": "actions",
                                                                                "spec": [
                                                                                    {
                                                                                        "name": "type",
                                                                                        "type": "select",
                                                                                        "label": "Type",
                                                                                        "options": [
                                                                                            {
                                                                                                "label": "Postback",
                                                                                                "value": "postback",
                                                                                                "nested": [
                                                                                                    {
                                                                                                        "name": "label",
                                                                                                        "type": "text",
                                                                                                        "label": "Label",
                                                                                                        "validate": {
                                                                                                            "max": 20
                                                                                                        }
                                                                                                    },
                                                                                                    {
                                                                                                        "name": "text",
                                                                                                        "type": "text",
                                                                                                        "label": "Text",
                                                                                                        "required": true
                                                                                                    },
                                                                                                    {
                                                                                                        "name": "data",
                                                                                                        "type": "text",
                                                                                                        "label": "Data",
                                                                                                        "required": true,
                                                                                                        "validate": {
                                                                                                            "max": 300
                                                                                                        }
                                                                                                    }
                                                                                                ]
                                                                                            },
                                                                                            {
                                                                                                "label": "Message",
                                                                                                "value": "message",
                                                                                                "nested": [
                                                                                                    {
                                                                                                        "name": "label",
                                                                                                        "type": "text",
                                                                                                        "label": "Label",
                                                                                                        "validate": {
                                                                                                            "max": 20
                                                                                                        }
                                                                                                    },
                                                                                                    {
                                                                                                        "name": "text",
                                                                                                        "type": "text",
                                                                                                        "label": "Text",
                                                                                                        "required": true
                                                                                                    }
                                                                                                ]
                                                                                            },
                                                                                            {
                                                                                                "label": "URL",
                                                                                                "value": "uri",
                                                                                                "nested": [
                                                                                                    {
                                                                                                        "name": "label",
                                                                                                        "type": "text",
                                                                                                        "label": "Label",
                                                                                                        "validate": {
                                                                                                            "max": 20
                                                                                                        }
                                                                                                    },
                                                                                                    {
                                                                                                        "name": "uri",
                                                                                                        "type": "text",
                                                                                                        "label": "URL",
                                                                                                        "required": true
                                                                                                    }
                                                                                                ]
                                                                                            }
                                                                                        ],
                                                                                        "required": true
                                                                                    }
                                                                                ],
                                                                                "type": "array",
                                                                                "label": "Actions",
                                                                                "required": true,
                                                                                "validate": {
                                                                                    "maxItems": 3
                                                                                }
                                                                            }
                                                                        ],
                                                                        "type": "array",
                                                                        "label": "Columns",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "maxItems": 10
                                                                        }
                                                                    },
                                                                    {
                                                                        "name": "imageAspectRatio",
                                                                        "type": "select",
                                                                        "label": "Image Aspect Ratio",
                                                                        "options": [
                                                                            {
                                                                                "label": "Rectangle (1.51 : 1)",
                                                                                "value": "rectangle",
                                                                                "default": true
                                                                            },
                                                                            {
                                                                                "label": "Square (1 : 1)",
                                                                                "value": "square"
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "help": "◉ `Cover`: The image fills the entire image area. Parts of the image that do not fit in the area are not displayed.\n◉`Contain`: The entire image is displayed in the image area. A background is displayed in the unused areas to the left and right of vertical images and in the areas above and below horizontal images.",
                                                                        "name": "imageSize",
                                                                        "type": "select",
                                                                        "label": "Image Size",
                                                                        "options": [
                                                                            {
                                                                                "label": "Cover",
                                                                                "value": "cover",
                                                                                "default": true
                                                                            },
                                                                            {
                                                                                "label": "Contain",
                                                                                "value": "contain"
                                                                            }
                                                                        ]
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Image Carousel",
                                                                "value": "image_carousel",
                                                                "nested": [
                                                                    {
                                                                        "name": "columns",
                                                                        "spec": [
                                                                            {
                                                                                "help": "Max file size is 1 MB.\nSupported image format - JPEG or PNG",
                                                                                "name": "imageUrl",
                                                                                "type": "text",
                                                                                "label": "Image URL",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "name": "action",
                                                                                "spec": [
                                                                                    {
                                                                                        "name": "type",
                                                                                        "type": "select",
                                                                                        "label": "Type",
                                                                                        "options": [
                                                                                            {
                                                                                                "label": "Postback",
                                                                                                "value": "postback",
                                                                                                "nested": [
                                                                                                    {
                                                                                                        "name": "label",
                                                                                                        "type": "text",
                                                                                                        "label": "Label",
                                                                                                        "validate": {
                                                                                                            "max": 20
                                                                                                        }
                                                                                                    },
                                                                                                    {
                                                                                                        "name": "text",
                                                                                                        "type": "text",
                                                                                                        "label": "Text",
                                                                                                        "required": true
                                                                                                    },
                                                                                                    {
                                                                                                        "name": "data",
                                                                                                        "type": "text",
                                                                                                        "label": "Data",
                                                                                                        "required": true,
                                                                                                        "validate": {
                                                                                                            "max": 300
                                                                                                        }
                                                                                                    }
                                                                                                ]
                                                                                            },
                                                                                            {
                                                                                                "label": "Message",
                                                                                                "value": "message",
                                                                                                "nested": [
                                                                                                    {
                                                                                                        "name": "label",
                                                                                                        "type": "text",
                                                                                                        "label": "Label",
                                                                                                        "validate": {
                                                                                                            "max": 20
                                                                                                        }
                                                                                                    },
                                                                                                    {
                                                                                                        "name": "text",
                                                                                                        "type": "text",
                                                                                                        "label": "Text",
                                                                                                        "required": true
                                                                                                    }
                                                                                                ]
                                                                                            },
                                                                                            {
                                                                                                "label": "URL",
                                                                                                "value": "uri",
                                                                                                "nested": [
                                                                                                    {
                                                                                                        "name": "label",
                                                                                                        "type": "text",
                                                                                                        "label": "Label",
                                                                                                        "validate": {
                                                                                                            "max": 20
                                                                                                        }
                                                                                                    },
                                                                                                    {
                                                                                                        "name": "uri",
                                                                                                        "type": "text",
                                                                                                        "label": "URL",
                                                                                                        "required": true
                                                                                                    }
                                                                                                ]
                                                                                            }
                                                                                        ],
                                                                                        "required": true
                                                                                    }
                                                                                ],
                                                                                "type": "collection",
                                                                                "label": "Action"
                                                                            }
                                                                        ],
                                                                        "type": "array",
                                                                        "label": "Columns",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "maxItems": 10
                                                                        }
                                                                    }
                                                                ]
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Template"
                                            }
                                        ]
                                    }
                                ],
                                "required": true
                            }
                        ]
                    },
                    {
                        "name": "notificationDisabled",
                        "type": "boolean",
                        "label": "Notification Disabled",
                        "required": true
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com"
    }
}